<h1 class="text-3xl text-center font-semibold mb-6 uppercase text-indigo-700">Personajes Dragon Ball</h1>

<hr class="bg-red-700 mb-6">


<div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-5 p-6 bg-gray-50 rounded-lg shadow-lg">
    <!-- Listado de personajes -->
    <div class="col flex flex-col justify-center">

      <app-dbz-list [characterList]="characters" ></app-dbz-list>
    </div>

    <!-- Formulario -->
    <div class="div-form flex flex-col justify-center">


      <app-dbz-add-character    (onNewCharacter)="onNewCharacter($event)"></app-dbz-add-character>

    </div>
</div>
